.head-block,.top-menu,.top-material,.left-sidebar,.content,.logo{
    background:#ccc;
    margin-bottom:1px;
}
/*ВЫСОТА ШАПКИ*/
.head-block{
    height:250px;
    background:url(../images/head.jpg)left center no-repeat;
}

/*ВЫСОТА МЕНЮ*/
.top-menu{
    background:#afeeee;
}
.top-menu ul{
    padding-left:0;
    margin-bottom:0;
}
.top-menu li{
    display:inline-block;
    width: 20%;
    margin-left:10px;
    padding:3px 10px;
}

/*ВЫСОТА САЙДБАРА И БЛОКА КОНТЕНТ*/
.left-sidebar,
    height:300px;
    background:
}

/*ГРАНИЦА У КОНТЕНТА*/
.content{
	display:inline-block;
    border-left:1px solid #fff;
	
}
.logo{	
	display:inline-block;
}