.head-block,.top-menu,.left-sidebar,.content, .navbar-brand{
    /*background:#f0ffff;
    margin-bottom:1px;
}*/
/*ВЫСОТА ШАПКИ*/
.navbar-brand{
    /*height:200px;*/
    height:100px;
    width:100px;
    background:url(../images/news3.jpg)left no-repeat;

}
/*ВЫСОТА МЕНЮ
/*.top-menu{
    background:#afeeee;
}
.top-menu ul{
    padding-left:0;
    margin-bottom:0;
}
.top-menu li{
    display:inline-block;
    width: 25%;
    margin-left:10px;
    padding:3px 10px;
}

/*ВЫСОТА САЙДБАРА И БЛОКА КОНТЕНТ*/
/*.left-sidebar,.content{
    height:300px;
    background:
}
ГРАНИЦА У КОНТЕНТА
.content{
    border-left:1px solid #fff;
}
  */*/*/